* {
  margin: 0;
}

html, body{
	color: #d9b3ff;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Times new roman', Times, 'sans-serif';
    height: 100%;  	
}

.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -4em;
}

#game{
	text-align: left;
}

#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;	
}
